configure
Makefile.in
config.log
scripts
config.status
stamp-h1
config.h
config.h.in
std.out
autom4te.cache
drmaa_utils
libtool
aclocal.m4
Makefile
ltsugar.m4
libtool.m4
ltversion.m4
lt~obsolete.m4
ltoptions.m4
readme.html
readme.tex
.libs
.deps
.project
.cproject
*.tar.gz
readme.toc
readme.out
readme.pdf
readme.aux
readme.log
*.lo
*.o
*.la
debian/files
debian/slurm-drmaa-dev.debhelper.log
debian/slurm-drmaa-dev.substvars
debian/slurm-drmaa-dev/
debian/slurm-drmaa1.debhelper.log
debian/slurm-drmaa1.postinst.debhelper
debian/slurm-drmaa1.postrm.debhelper
debian/slurm-drmaa1.substvars
debian/slurm-drmaa1/
debian/tmp/
